<!DOCTYE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>
		{% block title %}{% endblock %}
	</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class='container-fluid'>
		{% include 'header.html' %} <!--加入頁首-->
		<div class='row'>
			<div class='col-sm-4 col-md-4'>
				<div class='panel panel-default'>
					<div class='panel-heading'>
						<h3>MENU</h3>
					</div>
					<div class='panel-body'>
						<div class='list-group'>
							<a href='/' class='list-group-item'>HOME</a>
							<a href='http://tar.so/news' class='list-group-item'>即時新聞</a>
							<a href='http://drho.tw/news' class='list-group-item'>電視新聞</a>
						</div>
					<!--<script type="text/javascript" src="http://feedjit.com/serve/?vv=1515&amp;tft=3&amp;tft=3&amp;wid=&amp;pid=0&amp;bc=FFFFFF&amp;tc=000000&amp;brd1=012B6B&amp;lnk=135D9E&amp;hc=FFFFFF&amp;hfc=2853A8&amp;btn=C99700&amp;ww=190&amp;wne=6&amp;srefs=0">
					</script>-->
					<!--<noscript><a href="http://feedjit.com/">Live Traffic Stats</a></noscript>-->
					<a href="http://livetrafficfeed.com" data-num="10" data-width="210" data-responsive="0" data-time="America%2FNew_York" data-root="0" c_header="2853a8" t_header="ffffff" border="2853a8" background="ffffff" t_normal="000000" t_link="135d9e" data-flag="0" data-counter="0" target="_blank" id="LTF_live_website_visitor">Realtime Website Traffic</a><script src="//livetrafficfeed.com/static/v2/live.js?900860375"></script><noscript><a href="http://livetrafficfeed.com">Realtime Website Traffic</a></noscript>
					</div>	
				</div>	
			</div>
			<div class='col-sm-8 col-md-8'>
				<div class='panel panel-default'>
					<div class='panel-heading'>
						{% block headmessage %}{% endblock %}
					</div>
					<div class='panel-body'>
						{% block content %}{% endblock %}
					</div>
					<div class='panel-footer'>
						{% include 'footer.html' %} <!--加入頁尾-->
					</div>
				</div>
			</div>
		</div>
	</div>		
</body>
</html>